#safetyDetail{
	background: url('../images/safety/002_bg.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	.textwrap{
		position: relative;
    	top: 59%;
		padding: 5%;
		text-align: center;
		p{
			font-size: $mid-font-smaller;
			color:$sub_text_100;
		}
	}

	.btn_more{
		position: absolute;
		top:$header_height;
		width: 100%;
		height: calc(100% - 60px);
		img{
			position: absolute;
			@include btn_more;
			cursor:pointer;
		}
		img#rigidity{
			top:22%;
			left:17%;
		}
		img#adhesive{
			top:16%;
			right:25%;
		}
		img#structure{
			top:33%;
			right:5%;
		}
		img#collision{
			top:48%;
			left: 5%;
		}
	}
	.popLayer{
		background-color:$popup_bg;
		.textwrap_top{
			position: relative;
			top:$header_height;
			padding: 10% 5%;
			h3{
				font-size: $mid-font-smaller;
				color:$white;
			}
			p{
				color:$popupText;
				margin: 5% 0;
			}
		}
		.imgwrap{
			position: relative;
			background-color: $popupText_bg;
			border:1px solid rgba(255,255,255,0.5);
			margin: 9% 5%;
			padding:3%;
			border-radius: 5px;
			.textbox{	
				p{
					color:$white;
					font-size: 13.5px;
				}
			}
			.textStyle{
				padding:3%;
				p{
					font-size: $base-font-smaller;
					margin-bottom:3%;	
					span{
						display: block;
						font-size: $base-font-smaller;
						font-family: $header_m;
						color:$white;
					}
				}
			}
			.imgStyle{
				margin-top: 4%;
			}
			.imgSize{
				width: 90%;
				margin: 0 auto;
			}
			// .pos_mov{
			// 	position: relative;
			// 	top:45px;
			// }
			.imgText{
				width: 200px;
				position: relative;
				p{
					font-size: $base-font-smaller;
					color: rgb(74,159,242);
					span{
						font-size: $big-font;
						color: rgb(74,159,242);
						display: block;
					}
				}
				
			}
		}
		.imgwrap2{
			padding:0;
			line-height: 0;
		}
	}
}

#fuelDetail{
	background: url('../images/performance/402_bg.png') no-repeat;
	background-size: 100% auto;
	//background-position: bottom;
	.title{
		padding:10% 5% 5% 5%;
		p{
			&:nth-child(1){
				font-family: $header_r;
				font-size: $mid-font;
				color:$sub_text_50;
			}
			&:nth-child(2){
				font-family: $header_m;
				font-size: 60px;
				color:$main_text_30;
				span{
					font-family: $header_m;
					font-size: 45px;
					color:$main_text_30;
				}
			}
			&:nth-child(3){
				font-family: $header_r;
				font-size: $small-font;
				color:$sub_text_50;
				margin-top:-3%;
			}
		}
	}
	.imgwrap{
		margin:0 3%;
	}
	.textwrap{
		padding:5%;
		p{
			font-size: $small-font;
			color:$sub_text_50;
		}
	}
}

#transmissionDetail{
	background-color: $black;
	.imgwrap{
		margin:4% auto;
		padding:0 8%;
		p{
			text-align: center;
			color:$white;
		}
	}
}

#suspensionDetail{
	>.imgwrap{
		width: 68%;
    	margin: 6% auto;
    	line-height: 0;
    	cursor:pointer;
	}
	.popLayer{
		background-color:$popup_bg;
		.imgwrap{
			position: relative;
			top:$header_height;
			p{
				position: absolute;
				bottom:10%;
				width: 100%;
				color:$white;
				font-family: $header_m;
				font-size: $mid-font-smaller;
				text-align: center;
				span{
					display: block;
					font-size: $mid-font-smaller;
					color:$white;
				}
			}
		}
		.btn_arrow{
			@include btn_arrow;
			margin:1% auto;
		}
		.textwrap{
			position: relative;
			top:11%;
			.textbox{
				margin:0 5%;
				padding:3%;
				border: 1px solid $popupLine;
				border-radius: 5px;
				background-color: $popupText_bg;
				p{
					color: $popupText;
					font-size: $base-font-smaller;
				}
			}
		}
		
	}
}