// styles.scss
#page0{
	.imgwrap{
		margin-top: $header_height;
		height: 45%;
		overflow: hidden;
		img{
			position: relative;
			top:50%;
			transform:translateY(-50%);
		}
	}

	.textwrap{
		height: 55%;
    	box-sizing: border-box;
		padding:6% 5%;
		background: url('../images/001_bg.png') no-repeat;
		background-size: 100% auto;
		h2{
			margin-bottom: 1%;
		}
		p{
			font-size: $mid-font;
		}
		form{
			margin:5% 0;
			.selectbox{
				position: relative;
				width: 100%;
				height: 40px;
				background:url('../images/button/001_text_box.png') no-repeat;
				background-size: 100% 40px;
				label{
					position: absolute;
					top:0;
					width: 100%;
					height: 100%;
					line-height:1.4em;
					box-sizing:border-box;
					margin: 0;
					padding:0.4em;
					font-family: $header_l;
					font-size: $mid-font-smaller;
					background:url('../images/button/001_btn_country_dropdown.png') no-repeat;
					background-size: 20px;
    				background-position: 95%;
    				color:$sub_text_50;

				}
				select{
					position: absolute;
					top:0;
					width: 100%;
					height: 100%;
					display: block !important;
					opacity: 0;
					option{
					}
				}
				.ui-selectmenu-button{
					outline: none;
					.ui-selectmenu-text{
						opacity: 0;
					}
				}
			}
			.inputbox{
				width: 100%;
				height: 40px;
				background:url('../images/button/001_text_box.png') no-repeat;
				background-size: 100% 40px;
				.ui-input-text{
					border:none;
					box-shadow: none;
					background: none;
				}
				input{
					font-family: $header_l;
					color:$sub_text_50;
					font-size: $mid-font-smaller;
				}
			}
		}
	}
}