/*.roadwrap{
	position: relative;
}*/
html,body{
	height:100%;
	margin:0;
}
.scrollWrap {
	height:6354px;
	width:100%;
	overflow:hidden;
}
.roadwrap{
	height:100%;
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
}
.roadBgWrap {
	height:100%;
	width:100%;
	position: absolute;
}
.roadBg {
	background-image: url('images/road_test_01.jpg');
	/* background-position:0 570px;
	background-size: 100%; */
	height:6354px;
	width:5803px;
	position: absolute;
	/* left:-358px; */
	top:0;
	/* -ms-transform-origin: 20% 40%;
	-webkit-transform-origin: 20% 40%; */
	/* transform-origin: 80% 20%; */
}
.roadwrap img {
	position: fixed;
	top:65%;
	left:59%;
	/* transform: translateY(-50%); */
	width:24%;
	z-index:10;
}
.rotate0 {
	transform:rotate(0);
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-o-transform:rotate(0)
}

.cloud{
	position: absolute;
	top:3000px;
	left: 50%;
	transform: translateX(-50%);
	width:50%;
}
.cloud img{
	width: 100%;
}
.scrollCnt {
	position: fixed;
    top: 0;
    font-size: 60pt;
    color: #FFF;
    z-index: 10;
    text-align: center;
    width: 100%;
}
.angleCnt {
	position: fixed;
    top: 50px;
    font-size: 40pt;
    color: #FFF;
    z-index: 10;
    text-align: left;
    width: 100%;
}
