
#exterior{
	background: url('../images/exterior/101_image_cover.png') no-repeat;
	background-size: cover;
	background-position: center;
}
#frontstyle{
	background: url('../images/exterior/102_image_cover.png') no-repeat;
	background-size: 100% auto;
}

#sidestyle{
	background: url('../images/exterior/109_image_cover.png') no-repeat;
	background-size: 100% auto;
}

#rearstyle{
	background: url('../images/exterior/112_image_cover.png') no-repeat;
	background-size: cover;
	background-position: center;
}