$white: #ffffff;
$black: #000;
$text_30: rgb(30,30,30);
$text_50: rgb(50,50,50);
$text_100:rgb(100,100,100);
$green:rgb(92,186,70);
$purple:rgb(53,17,134);
$blue:rgb(8,46,98);//exterior
$wine :rgb(83,20,44);//interior
$darkTeal:rgb(4,87,88);//smartSense
$vividGreen:rgb(8,106,47);//convenience
$popup_bg:rgb(25,25,25);
$popupText_bg:rgb(37,37,37);
$popupLine:rgb(85,85,85);
$popupText: rgb(150,150,150);

