// ==========================================================
// Font Face
// ==========================================================


@mixin font-face($name, $path, $transform: null, $weight: null, $exts: eot woff2 woff ttf otf) {
    $src: null;

    $extmods: (
        // eot: "?#iefix",
        // svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote("../../"+$path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        text-transform: $transform;
        font-weight: $weight;
        src: $src;
    }
}

// General Purpose Mixins
@mixin reset-margins {
  margin: 0;
  padding: 0;
}

// @mixin background-opacity($color, $opacity: 0.3) {
//     background: $color; /* The Fallback */
//     background: rgba($color, $opacity);
// }


@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin go-next{
    @include reset-margins;
    position: absolute;
    bottom:1%;
    right: 0;  
    width: 100%;
    text-align: right;
    z-index: 10;
    img{
        position: relative;
        right: 5%;
        width: 15px;
    }
}
@mixin btn_close{
    width:19px;
}
@mixin btn_more{
    width: 11%;
}

@mixin btn_arrow{
    width: 19px;
}
@mixin text_box{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    width: 86%;
    padding:6% 4%;
    box-sizing:border-box;
    border-radius: 6px;
    background-color: $white;
    text-align: center;
    font-family: $header_l;
}
@mixin btn_start{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    width: 70%;
    padding:6px 0 3px 0;
    margin-top:5%;
    background:url('../images/button/btn_gradient.png') no-repeat;
    background-size: 100% 100%;
    color:$white !important;
    font-family: $header_m;
    font-size:$mid-font-smaller;
}