* {
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body { background-color:#1A1A1A; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, th, td, textarea, input, header, nav, section, article, aside, footer, hgroup  { margin:0; padding:0; }
hr, legend, caption { display:none; }
img, fieldset { border:0 none;}
body, h1, h2, h3, h4, h5, dl, dt, dd, th, td, p, form, fieldset, legend, input, select, div, textarea, address { font-size:16pt; font-family:'HyundaiSansText', Arial, sans-serif; color:#000; font-style:normal; }
.ie8 body, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 dl, .ie8 dt, .ie8 dd, .ie8 th, .ie8 td, .ie8 p, .ie8 form, .ie8 fieldset, .ie8 legend, .ie8 input, .ie8 select, .ie8 div, .ie8 textarea, .ie8 address { font-size:11pt; font-family:'HyundaiSansText'; color:#000; font-style:normal; }
input[type='password'] { font-family:arial; }
ul, ol, li { list-style:none; }
img, input, select, textarea, label { vertical-align:middle; }
a { text-decoration:none; }
table { padding:0; border-collapse:collapse; }
html, body { height:100%; }
body {-webkit-text-size-adjust:none; }
header, nav, section, article, aside, footer, hgroup { display:block; }
a, a:hover, a:link, a:visited { color:#333; }

div { overflow:hidden; position:relative; }

img.img100 {
	width:100%;
	height:auto;
}


html {
	-ms-content-zooming:none;
}

body {
	width:100%;
	/* height:100%; */
	margin:0;
	overflow:auto;
	/* -webkit-overflow-scrolling:touch; */
	-ms-content-zooming:none;
}

.scrollWrap {
	/* height:8550px; */
	position:fixed !important;
	height:100%;
	width:100%;
	overflow:hidden;
	position:absolute;
	background:rgba(0, 0, 0, .75);
	z-index:2;
}

.scrollWrapBgHide {
  transition-property:background-color;
  transition-duration:1s;
  /* transition-delay:1s; */
  background-color:rgba(0, 0, 0, 0);
}

.roadwrap{
	height:100%;
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
}

.roadBgWrap {
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
}

.roadBg {
	/* height:11400px;
	width:1920px; */
	/* height:11400px; */
	width:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	/* transform:translateX(-50%) translateY(-50%);
	transform-origin:50% 50%; */
}

.roadBg .bg {
	/* height:3800px;
	width:1920px; */
	/* height:3800px; */
	width:100%;
	position:relative;
	background-size:100%;
}

.bg .flag {
	width:50%;
	height:50%;
	position:absolute;
	background:url('../images/testdrive/flag.png');
	background-size:cover;
	bottom:5%;
	margin:0 auto;
}

#roadBg1 {
	background-image:url('../images/testdrive/course_1.jpg');
}

#car {
	/* border:1px solid #CC0000; */
	position:fixed;
	width:100%;
	height:auto;
	transform-origin:50% 30%;
	/* background:url('../images/testdrive/testdrive_car.png');
	background-size:cover; */
	z-index:2;
	top:0;
	left:-11.79%;
	/* height:250px; */
	/* width:300px;
	height:300px;
	border:1px solid #000; */
	/* transform-origin:50% 50%; */
	/* transform:translateX(-50%) translateY(-50%); */
}


#car .car {
	width:100%;
	position:absolute;
}
#car .carNight {
	width:100%;
	position:absolute;
	opacity:0;
}

.loadingText {
	position:fixed;
	width:100%;
	height:auto;
	z-index:7;
}
.loadingText > p { bottom:20%; position:absolute; text-align:center; width:100%; color:#FFF; font-size:14pt; }
.loadingText > p > strong { font-weight:400; color:#3CB4EB; }

svg {
	position:absolute;
}


.point {
	position:fixed;
	z-index:8;
	bottom:0;
	width:90%;
	left:5%;
	/* height:50%; */
	/* background:#000; */
	/* opacity:0; */
	display:none;
}
.point .pointHead {
	padding-bottom:10px;
}
.point .pointHeart {
	float: left;
	font-family:'HyundaiSansHeadRegular';
	background:url(../images/testdrive/icon_testdrive_count.png) no-repeat;
	background-size:contain;
	padding:5px 0 0 35px;
	width:70%;
	color:#FFF;
	text-shadow: 0px 0px 7px #000;
	font-size:14pt;
	height:26px;
}
.point .pointClose {
	background:url(../images/testdrive/course_popup_btn_close_01.png) no-repeat center;
	width:30px;
	height:31px;
	background-size:cover;
	float: right;
	cursor:pointer;
}
.point .pointWrap {
	background: #FFF;
	/* bottom: 0; */
	/* position: absolute; */
	/* height: 85%; */
	width:100%;
	border-radius: 5px 5px 0 0;
}
.point .pointTitle {
	font-family:'HyundaiSansHeadMedium';
	color: #3cb4eb;
	padding: 5% 0;
	text-align: center;
	font-size: 18pt;
	font-weight: 700;
}
.point .pointDesc {
	padding: 0 8%;
	font-size: 11pt;
	line-height: 125%;
	/* color:#606065; */
}
.point .pointBtn {
	margin:20px auto;
	text-align:center;
}
.point .pointBtn a {
	font-family:'HyundaiSansHeadRegular';
	background: #3c3c41 url(../images/testdrive/icon_testdrive_btn_viewmore.png) no-repeat 12% center;
	padding: 3% 8% 3% 16%;
	font-size: 12pt;
	color: #3CB4EB;
	border-radius:5px;
	background-size: 13%;
	display:inline-block;
	font-weight: 700;
}


.nextPoint {
	position:fixed;
	z-index:8;
	bottom:0;
	width:90%;
	left:5%;
	display:none;
}
.nextPoint .nextPointIcon {
	background:url(../images/testdrive/icon_testdrive_sign.png) no-repeat center;
	height:70px;
	width:100%;
	background-size:contain;
}
.nextPoint .nextPointTitle {
	font-family:'HyundaiSansHeadMedium';
	color:#FFF;
	padding:5% 0;
	text-align:center;
	font-size: 18pt;
	font-weight: 700;
	text-shadow: 0px 0px 2px #000;
}


.popup {
	position:fixed;
	z-index:9;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	display:none;
	color:#FFF;
	clear:both;
}
.popup .popupWrap {
	background: #FFF;
	width: 90%;
	left: 5%;
	border-radius:5px;
}
.popup .popupHead {
	background:#252525;
	padding:10px;
}
.popup .popupTitle {
	float:left;
}
.popup .popupPhoto {
	width:45px;
	height:45px;
	background-size: cover;
	border-radius:45px;
	border: 2px solid #787878;
	float: left;
}

.popup .popupTitleTxt {
	float: left;
	color:#A1A1A1;
	font-size: 12pt;
	padding: 5px 0 0 10px;
	line-height: 125%;
}

.popup .popupClose {
	float: right;
	background:url(../images/testdrive/icon_viewdetail_close.png) no-repeat center;
	line-height:999;
	overflow:hidden;
	border: 1px solid #FFF;
	width: 27px;
	height: 27px;
	background-size: 59%;
	cursor:pointer;
}
.popup .popupDesc {
	clear:both;
	position:relative;
}
.popup .popupDesc img {
	width:90%;
	margin:0 auto;
	height:auto;
	padding-bottom:6%;
}
.popup .popupDesc > div {
	/* width:100%; */
	text-align: center;
}
.popup .popupDesc > div > p {
	font-size: 11pt;
	padding:6% 5% 6% 5%;
	text-align: left;
}
.popup .popupNaviWrap {
	padding:10px 10px 10px 10px;
	clear:both;
}

.popup .popupNaviWrap > div {
	float:left;
}

.popup .popupNaviWrap .popupNaviPrev a {
	background: url('../images/testdrive/course_popup_btn_left.png') no-repeat center;
	width: 26px;
	height: 26px;
	line-height: 999;
	overflow: hidden;
	display: inline-block;
	background-size: 38%;
	cursor:pointer;
}

.popup .popupNaviWrap .popupNaviNext a {
	background: url('../images/testdrive/course_popup_btn_right.png') no-repeat center;
	width: 26px;
	height: 26px;
	line-height: 999;
	overflow: hidden;
	display: inline-block;
	background-size: 38%;
	cursor:pointer;
}

.popup .popupNavi {
	width: calc(100% - 56px);
	text-align: center;
}

.popup .popupNavi span {
	background: url('../images/testdrive/popup_dot.png') no-repeat center;
	line-height:999;
	overflow:hidden;
	display: inline-block;
	height:26px;
	width:20px;
	background-size: 50%;
}

.popup .popupNavi span.on {
	background: url('../images/testdrive/popup_dot_o.png') no-repeat center;
	background-size: 50%;
}

.popup .popupDesc > div {
	float:left;
}

.bottom_bounce {
	-webkit-animation:bottom_bounce 2s infinite ease-in-out;
	-moz-animation:   bottom_bounce 2s infinite ease-in-out;
	-o-animation:     bottom_bounce 2s infinite ease-in-out;
	animation:        bottom_bounce 2s infinite ease-in-out;
}


.cloud {
	width:200%;
	height:400px;
	overflow:hidden;
	position:absolute;
	z-index:6;
}

.cloud1 {
	background:url('../images/testdrive/cloud_1.png') no-repeat;
	background-size:contain;
}

.cloud2 {
	background:url('../images/testdrive/cloud_2.png') no-repeat;
	background-size:contain;
}

.cloud3 {
	background:url('../images/testdrive/cloud_3.png') no-repeat;
	background-size:contain;
}

.cloudMove1 {
	-webkit-animation:moveLeft 30s infinite linear;
	-moz-animation:   moveLeft 30s infinite linear;
	-o-animation:     moveLeft 30s infinite linear;
	animation:        moveLeft 30s infinite linear;
}

.cloudMove2 {
	-webkit-animation:moveRight 30s infinite linear;
	-moz-animation:   moveRight 30s infinite linear;
	-o-animation:     moveRight 30s infinite linear;
	animation:        moveRight 30s infinite linear;
}


.blink {
	-webkit-animation:blink 2s infinite ease-in-out;
	-moz-animation:   blink 2s infinite ease-in-out;
	-o-animation:     blink 2s infinite ease-in-out;
	animation:        blink 2s infinite ease-in-out;
}
.blink1 {
	-webkit-animation:blink1 2s infinite ease-in-out;
	-moz-animation:   blink1 2s infinite ease-in-out;
	-o-animation:     blink1 2s infinite ease-in-out;
	animation:        blink1 2s infinite ease-in-out;
}

.wave {
	position: absolute;
	width:100%;
}
.wave1 {
	-webkit-animation:wave1 3s infinite ease-in-out;
	-moz-animation:   wave1 3s infinite ease-in-out;
	-o-animation:     wave1 3s infinite ease-in-out;
	animation:        wave1 3s infinite ease-in-out;
}
.wave2 {
	-webkit-animation:wave2 3s infinite ease-in-out;
	-moz-animation:   wave2 3s infinite ease-in-out;
	-o-animation:     wave2 3s infinite ease-in-out;
	animation:        wave2 3s infinite ease-in-out;
}

.carGlow { position:absolute; top:0; display:none; opacity:0; width:100%; }
.carGlowOn {
	-webkit-animation:blink1 3s infinite ease-in-out;
	-moz-animation:   blink1 3s infinite ease-in-out;
	-o-animation:     blink1 3s infinite ease-in-out;
	animation:        blink1 3s infinite ease-in-out;
}
.carFinger {
	width:20%; position:absolute; bottom:26%; left:50%; transform:translateX(-50%);
	-webkit-animation:bottom_bounce 3s infinite linear;
	-moz-animation:   bottom_bounce 3s infinite linear;
	-o-animation:     bottom_bounce 3s infinite linear;
	animation:        bottom_bounce 3s infinite linear;
}

.accel {
	position:fixed;
	width:80px;
	height:80px;
	background:url('../images/testdrive/accel_off.png') no-repeat;
	background-size:cover;
	overflow:hidden;
	bottom:3%;
	right:4%;
	z-index:8;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.accel:active {
	background:url('../images/testdrive/accel_on.png') no-repeat;
	background-size:cover;
}

.truck {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:-5%;
}
.truck img {
	width:100%;
	height:auto;
}

.roof {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	z-index:6;
}

.loading, .ui-loader { width:100%; height:100%; background:#000; color:#FFF; z-index:10; background:#3C3C41; top:0 !important; left:0 !important; }
.loading .loadingImg, .ui-loader .loadingImg { width:45%; height:45%; top:45%; position:absolute; left:50%; transform:translateX(-50%) translateY(-50%); }
.loading .loadingImg img, .ui-loader .loadingImg img { width:100%; }
.loading h1, .ui-loader h1 { color:#3cb4eb; text-align:center; top:58%; position:absolute; font-weight:400; font-size:15pt; width:100%; }
.loading p, .ui-loader p { text-align:center; bottom:10%; position:absolute; font-weight:400; font-size:15pt; color:#FFF; width:100%; }

.opponentCar { position:absolute; }

.menuWrap {
	position:fixed;
	width:30px;
	height:30px;
	background:url('../images/common/btn_menu.png') no-repeat;
	background-size:100% auto;
	overflow:hidden;
	top:2%;
	right:3.5%;
	z-index:7;
	cursor: pointer;
}




/* 메뉴용 css */
.sidePanel_wrap img { width:100%; display:block; }
.sidePanel_wrap a { display:block; }

.avoidScroll { width:100%; height:100%; overflow:hidden; z-index:1000; position:fixed; }
