* {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body { background-color:#1A1A1A; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, th, td, textarea, input, header, nav, section, article, aside, footer, hgroup  { margin:0; padding:0; }
hr, legend, caption { display:none; }
img, fieldset { border:0 none;}
body, h1, h2, h3, h4, h5, dl, dt, dd, th, td, p, form, fieldset, legend, input, select, div, textarea, address { font-size:16pt; font-family:'HyundaiSansText', Arial, sans-serif; color:#000; font-style:normal; }
.ie8 body, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 dl, .ie8 dt, .ie8 dd, .ie8 th, .ie8 td, .ie8 p, .ie8 form, .ie8 fieldset, .ie8 legend, .ie8 input, .ie8 select, .ie8 div, .ie8 textarea, .ie8 address { font-size:11pt; font-family:'HyundaiSansText'; color:#000; font-style:normal; }
input[type='password'] { font-family:arial; }
ul, ol, li { list-style:none; }
img, input, select, textarea, label { vertical-align:middle; }
a { text-decoration:none; }
table { padding:0; border-collapse:collapse; }
html, body { height:100%; }
body {-webkit-text-size-adjust:none; }
header, nav, section, article, aside, footer, hgroup { display:block; }
a, a:hover, a:link, a:visited { color:#333; }

div { overflow:hidden; position:relative; }

img.img100 {
	width:100%;
	height:auto;
}


html {
	-ms-content-zooming:none;
}

body {
	width:100%;
	/* height:100%; */
	margin:0;
	overflow:hidden;
	/* -webkit-overflow-scrolling:touch; */
	-ms-content-zooming:none;
}

.scrollWrap {
	/* height:8550px; */
	position:fixed !important;
	height:100%;
	width:100%;
	overflow:hidden;
	position:absolute;
	background:rgba(0, 0, 0, .75);
	z-index:2;
}

.scrollWrapBgHide {
  transition-property:background-color;
  transition-duration:1s;
  /* transition-delay:1s; */
  background-color:rgba(0, 0, 0, 0);
}

.roadwrap{
	height:100%;
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
}

.roadBgWrap {
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
}

.roadBg {
	/* height:11400px;
	width:1920px; */
	/* height:11400px; */
	width:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	/* transform:translateX(-50%) translateY(-50%);
	transform-origin:50% 50%; */
}

.roadBg .bg {
	/* height:3800px;
	width:1920px; */
	/* height:3800px; */
	width:100%;
	position:relative;
	background-size:100%;
}

.bg .flag {
	width:50%;
	height:50%;
	position:absolute;
	background:url('../images/testdrive/flag.png');
	background-size:cover;
	bottom:5%;
	margin:0 auto;
}

#roadBg1 {
	background-image:url('../images/testdrive/course_1.jpg');
}
#roadBg2 {
	background-image:url('../images/testdrive/course_2.jpg');
}
#roadBg3 {
	background-image:url('../images/testdrive/course_3.jpg');
}
#roadBg4 {
	background-image:url('../images/testdrive/course_4.jpg');
}
#roadBg5 {
	background-image:url('../images/testdrive/course_5.jpg');
}
#roadBg6 {
	background-image:url('../images/testdrive/course_6.jpg');
}
#roadBg7 {
	background-image:url('../images/testdrive/course_7.jpg');
}
#roadBg8 {
	background-image:url('../images/testdrive/course_8.jpg');
}
#roadBg9 {
	background-image:url('../images/testdrive/course_9.jpg');
}
#roadBg10 {
	background-image:url('../images/testdrive/course_10.jpg');
}
#roadBg11 {
	background-image:url('../images/testdrive/course_11.jpg');
}

#car {
	/* border:1px solid #CC0000; */
	position:fixed;
	width:100%;
	height:auto;
	transform-origin:50% 44%;
	/* background:url('../images/testdrive/car.png');
	background-size:cover; */
	z-index:2;
	top:0;
	left:-14.47%;
	/* height:250px; */
	/* width:300px;
	height:300px;
	border:1px solid #000; */
	/* transform-origin:50% 50%; */
	/* transform:translateX(-50%) translateY(-50%); */
}


#car .car {
	width:100%;
	position:absolute;
}
#car .carNight {
	width:100%;
	position:absolute;
	opacity:0;
}

.loadingText {
	position:fixed;
	width:100%;
	height:auto;
	z-index:7;
}
.loadingText > p { bottom:20%; position:absolute; text-align:center; width:100%; color:#FFF; font-size:14pt; }
.loadingText > p > strong { font-weight:400; color:#3CB4EB; }

svg {
	position:absolute;
}


.point {
	position:fixed;
	z-index:8;
	bottom:0;
	width:90%;
	left:5%;
	/* height:50%; */
	/* background:#000; */
	/* opacity:0; */
	display:none;
}
.point .pointHead {
	padding-bottom:10px;
}
.point .pointHeart {
	float: left;
	font-family:'HyundaiSansHeadRegular';
	background:url(../images/testdrive/icon_testdrive_count.png) no-repeat;
	background-size:contain;
	padding:5px 0 0 35px;
	width:70%;
	color:#FFF;
	text-shadow: 0px 0px 7px #000;
	font-size:14pt;
	height:26px;
}
.point .pointClose {
	background:url(../images/testdrive/btn_viewdetail_close.png) no-repeat center #606065;
	width:30px;
	height:31px;
	background-size:cover;
	float: right;
	cursor:pointer;
}
.point .pointWrap {
	background: #FFF;
	/* bottom: 0; */
	/* position: absolute; */
	/* height: 85%; */
	width:100%;
	/* left: 5%; */
}
.point .pointTitle {
	font-family:'HyundaiSansHeadMedium';
	color: #3cb4eb;
	padding: 5% 0;
	text-align: center;
	font-size: 17pt;
	font-weight: 700;
}
.point .pointTitle .pointTitleSub {
	font-size: 12pt;
    font-family: 'HyundaiSansHeadRegular';
}
.point .pointDesc {
	padding: 0 8%;
	font-size: 11pt;
	line-height: 125%;
	color:#606065;
}
.point .pointBtn {
	margin:20px auto;
	text-align:center;
}
.point .pointBtn a {
	font-family:'HyundaiSansHeadRegular';
	background:#454550 url(../images/testdrive/icon_testdrive_btn_viewmore.png) no-repeat 15px center;
	padding:10px 15px 7px 49px;
	font-size:12pt;
	color:#3CB4EB;
	border-radius:20px;
	background-size:16%;
	display:inline-block;
	font-weight:700;
}


.nextPoint {
	position:fixed;
	z-index:8;
	top:2%;
	width:80%;
	left:0;
	display:none;
	height:40px;
	background:url(../images/testdrive/bg_title_text40pt_1line.png) no-repeat;
	background-size:contain;
}
.nextPoint .nextPointIcon {
	background:url(../images/testdrive/icon_testdrive_sign.png) no-repeat center;
	height:70px;
	width:100%;
	background-size:contain;
}
.nextPoint .nextPointTitle {
	font-family:'HyundaiSansHeadMedium';
	color:#FFF;
	padding:4% 0 0 3%;
	font-size:12pt;
	/* font-weight: 700; */
	/* text-shadow: 0px 0px 2px #000; */
}
.nextPoint.doubleline {
	background:url(../images/testdrive/bg_title_text40pt_2lines.png) no-repeat center;
	/*height:63px;*/
	height:57px;
}


.popup {
	position:fixed;
	z-index:9;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	display:none;
	color:#FFF;
	clear:both;
}
.popup .popupWrap {
	background: #FFF;
	width: 90%;
	left: 5%;
}
.popup .popupHead {
	background: #3c3c41;
	padding:10px;
}
.popup .popupTitle {
	float:left;
}
.popup .popupPhoto {
	width:45px;
	height:45px;
	background-size: cover;
	border-radius:45px;
	background-color:#787878;
	/* border: 2px solid #787878; */
	float: left;
}

.popup .popupTitleTxt {
	float: left;
	color:#FFF;
	font-size: 12pt;
	padding: 5px 0 0 10px;
	line-height: 125%;
}

.popup .popupClose {
	float: right;
	background:url(../images/testdrive/btn_viewdetail_close.png) no-repeat center;
	width:30px;
	height:31px;
	background-size:cover;
	cursor:pointer;
}

.popup .popupDesc {
	clear:both;
	position:relative;
	padding-bottom:20px;
}

.popup .popupDesc img {
	width:100%;
	height:auto;
}

.popup .popupDesc > div {
	width:100%;
}

.popup .popupDesc > div > p {
	font-size: 11pt;
	padding:20px 20px 0 20px;
}

.popup .popupNaviWrap {
	padding:0 10px 10px 10px;
	clear:both;
}

.popup .popupNaviWrap > div {
	float:left;
}

.popup .popupNaviWrap .popupNaviPrev a {
	background: url('../images/testdrive/p11_arrow_back.png') no-repeat center;
	width: 26px;
	height: 26px;
	line-height: 999;
	overflow: hidden;
	display: inline-block;
	border:1px solid #B4B4B4;
	background-size: 38%;
	cursor:pointer;
}

.popup .popupNaviWrap .popupNaviNext a {
	background: url('../images/testdrive/p11_arrow_next.png') no-repeat center;
	width: 26px;
	height: 26px;
	line-height: 999;
	overflow: hidden;
	display: inline-block;
	border:1px solid #B4B4B4;
	background-size: 38%;
	cursor:pointer;
}

.popup .popupNavi {
	width: calc(100% - 56px);
	text-align: center;
}

.popup .popupNavi span {
	background: url('../images/testdrive/popup_dot.png') no-repeat center;
	line-height:999;
	overflow:hidden;
	display: inline-block;
	height:26px;
	width:20px;
	background-size: 50%;
}

.popup .popupNavi span.on {
	background: url('../images/testdrive/popup_dot_o.png') no-repeat center;
	background-size: 50%;
}

.popup .popupDesc > div {
	float:left;
}

.bottom_bounce {
	-webkit-animation:bottom_bounce 2s infinite ease-in-out;
	-moz-animation:   bottom_bounce 2s infinite ease-in-out;
	-o-animation:     bottom_bounce 2s infinite ease-in-out;
	animation:        bottom_bounce 2s infinite ease-in-out;
}


.cloud {
	width:200%;
	height:400px;
	overflow:hidden;
	position:absolute;
	z-index:6;
}

.cloud1 {
	background:url('../images/testdrive/cloud_1.png') no-repeat;
	background-size:contain;
}

.cloud2 {
	background:url('../images/testdrive/cloud_2.png') no-repeat;
	background-size:contain;
}

.cloud3 {
	background:url('../images/testdrive/cloud_3.png') no-repeat;
	background-size:contain;
}

.cloudMove1 {
	-webkit-animation:moveLeft 30s infinite linear;
	-moz-animation:   moveLeft 30s infinite linear;
	-o-animation:     moveLeft 30s infinite linear;
	animation:        moveLeft 30s infinite linear;
}

.cloudMove2 {
	-webkit-animation:moveRight 30s infinite linear;
	-moz-animation:   moveRight 30s infinite linear;
	-o-animation:     moveRight 30s infinite linear;
	animation:        moveRight 30s infinite linear;
}


.blink {
	-webkit-animation:blink 2s infinite ease-in-out;
	-moz-animation:   blink 2s infinite ease-in-out;
	-o-animation:     blink 2s infinite ease-in-out;
	animation:        blink 2s infinite ease-in-out;
}
.blink1 {
	-webkit-animation:blink1 2s infinite ease-in-out;
	-moz-animation:   blink1 2s infinite ease-in-out;
	-o-animation:     blink1 2s infinite ease-in-out;
	animation:        blink1 2s infinite ease-in-out;
}
.blink2 {
	-webkit-animation:blink2 1s infinite ease-in-out;
	-moz-animation:   blink2 1s infinite ease-in-out;
	-o-animation:     blink2 1s infinite ease-in-out;
	animation:        blink2 1s infinite ease-in-out;
}
.blink3 {
	-webkit-animation:blink2 1s 2 ease-in-out;
	-moz-animation:   blink2 1s 2 ease-in-out;
	-o-animation:     blink2 1s 2 ease-in-out;
	animation:        blink2 1s 2 ease-in-out;
}

.wave {
	position: absolute;
	width:100%;
}
.wave1 {
	-webkit-animation:wave1 3s infinite ease-in-out;
	-moz-animation:   wave1 3s infinite ease-in-out;
	-o-animation:     wave1 3s infinite ease-in-out;
	animation:        wave1 3s infinite ease-in-out;
}
.wave2 {
	-webkit-animation:wave2 3s infinite ease-in-out;
	-moz-animation:   wave2 3s infinite ease-in-out;
	-o-animation:     wave2 3s infinite ease-in-out;
	animation:        wave2 3s infinite ease-in-out;
}

.carGlow {
	position:fixed;
	top:0;
	/* display:none; */
	opacity:0;
	width:100%;
	animation-name:fadeInOut3;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:3s;
}
.carGlow3 {
  animation-delay:2s;
}
.carGlow2 {
  animation-delay:1s;
}
.carGlow1 {
  animation-delay:0s;
}


.carGlowOn {
	-webkit-animation:blink1 3s infinite ease-in-out;
	-moz-animation:   blink1 3s infinite ease-in-out;
	-o-animation:     blink1 3s infinite ease-in-out;
	animation:        blink1 3s infinite ease-in-out;
}
.carFinger {
	width:20%; position:absolute; bottom:26%; left:50%; transform:translateX(-50%);
	-webkit-animation:bottom_bounce 3s infinite linear;
	-moz-animation:   bottom_bounce 3s infinite linear;
	-o-animation:     bottom_bounce 3s infinite linear;
	animation:        bottom_bounce 3s infinite linear;
}

.accel {
	position:fixed;
	width:80px;
	height:80px;
	background:url('../images/testdrive/accel_off.png') no-repeat;
	background-size:cover;
	overflow:hidden;
	bottom:3%;
	right:4%;
	z-index:8;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.accel:active {
	background:url('../images/testdrive/accel_on.png') no-repeat;
	background-size:cover;
}

.gaugeWrap {
	position:fixed;
	display:none;
	bottom:3%;
	left:4%;
	background: url(../images/testdrive/gauge.png) no-repeat;
	background-size: contain;
	width:90%;
	height:75px;
	z-index:7;
}
.gaugeWrap > div {
	float:left;
}
.gaugeMode {
	color:#FFF;
	margin:27px 0 0 5px;
	font-size:14pt;
	font-weight:700;
	width:200px;
	height: 30px;
}
.gaugeMode span{
	font-family: 'DSDIGI';
}
.gaugeText {
	color:#FFF;
	font-style:italic;
	margin:23px 0 0 0;
	font-size:20pt;
	font-weight:700;
	width:75px;
	text-align:center;
	font-family:'DSDIGI';
}
.gaugeText > span {
	display:inline-block;
	padding:0 1px 0 0;
}
.gaugeGreen {
	color:#00FFF0;
}
.gaugeRed {
	color:#E63200;
}
.gaugeWhite {
	color:#FFF;
}

.carEffect {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
}

.sign {
	width:68%;
	height:auto;
	position:fixed;
	top:60%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	display:none;
	z-index:10;
}

.daw {
	width:60%;
	top:50%;
	left:50%;
}

/* .offroadWrap {
	display:none;
	position:fixed;
	z-index:8;
}
.offroad {
	opacity:1;
	animation-name:fadeInOut4;
	position: absolute;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:4s;
}
.offroadWrap img:nth-child(1) {
  animation-delay:3s;
}
.offroadWrap img:nth-child(2) {
  animation-delay:2s;
}
.offroadWrap img:nth-child(3) {
  animation-delay:1s;
}
.offroadWrap img:nth-child(4) {
  animation-delay:0;
} */

.lamp {
	top: 50%;
	left: 0;
	display:none;
	position: fixed;
	width: 56%;
}

.truck {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:-5%;
}
.truck img {
	width:100%;
	height:auto;
}

.roof {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	z-index:6;
}

.loading, .ui-loader { width:100%; height:100%; background:#000; color:#FFF; z-index:10; background:#3C3C41; top:0 !important; left:0 !important; }
.loading .loadingImg, .ui-loader .loadingImg { width:45%; height:45%; top:45%; position:absolute; left:50%; transform:translateX(-50%) translateY(-50%); }
.loading .loadingImg img, .ui-loader .loadingImg img { width:100%; }
.loading h1, .ui-loader h1 { color:#3cb4eb; text-align:center; top:58%; position:absolute; font-weight:400; font-size:15pt; width:100%; }
/*.loading p, .ui-loader p { text-align:center; bottom:10%; position:absolute; font-weight:400; font-size:15pt; color:#FFF; width:100%; }*/

.opponentCar { position:absolute; }

.menuWrap {
	position:fixed;
	width:40px;
	height:40px;
	background:url('../images/testdrive/btn_menu.png') no-repeat;
	background-size:cover;
	overflow:hidden;
	top:2%;
	right:3.5%;
	z-index:7;
	cursor:pointer;
}

#media {
	z-index:10;
	/* position:absolute; */
	width:100px;
	height:100px;
	overflow:hidden;
	clear: both;
}

.movieWrap {
	display:block;
	position:fixed;
	z-index:9;
	height:100%;
	width:100%;
	display:none;
}
.movieWrap video {
	width:47%;
	height:auto;
	top:76%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	position:absolute;
}
.rearCameraBg {
	width:100%;
	position:absolute;
}




/* 메뉴용 css */
.sidePanel_wrap img { width:100%; display:block; }
.sidePanel_wrap a { display:block; }

.avoidScroll { width:100%; height:100%; overflow:hidden; z-index:1000; position:fixed; }





.offroadWrap {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
}
.offroadWrap img {
	position:absolute;
	width:100%;
}

.offroadWrap img {
	-webkit-animation-name: fadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 4s;

	-moz-animation-name: fadeInOut;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 4s;

	-o-animation-name: fadeInOut;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-duration: 4s;

	animation-name: fadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}
.offroadWrap img:nth-of-type(1) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.offroadWrap img:nth-of-type(2) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.offroadWrap img:nth-of-type(3) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.offroadWrap img:nth-of-type(4) {
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}
.letterSpacing{
	letter-spacing: -1px;
}

#page8 {
  background-image: url("../images/testdrive/p15_bg_1.jpg");
  background-size: cover; 
  position: absolute;
}
  #page8 .bg{
  	overflow: visible;
  }
  #page8 .bg img {
    position: absolute;
    top: 0;
    left: 0; 
	width: 100%}
  #page8 .title {
    text-align: center;
    width: 65%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%; }
    #page8 .title  img{width: 100%;}
    #page8 .title .heart {
      margin-top: 15px; }
      #page8 .title .heart img, #page8 .title .heart p {
        display: inline-block; }
      #page8 .title .heart img {
        width: 25px; }
      #page8 .title .heart p {
        /*vertical-align: super;*/
        color: #3cb4eb;
        margin-left: 5px; }
  #page8 .start {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 160px;
    height: 160px; }
    #page8 .start:hover {
      cursor: pointer; }
    #page8 .start img, #page8 .start div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #page8 .start > img {
      width: 130px;
      height: 130px; }
    #page8 .start .glow {
      width: 100%;
      height: 100%; }
      #page8 .start .glow img:first-child {
        width: 140px;
        height: 140px; }
      #page8 .start .glow img:last-child {
        width: 160px;
        height: 160px; }
