// Font Type
$header_r: 'HyundaiSansHeadRegular', Arial, sans-serif;
$header_m: 'HyundaiSansHeadMedium', Arial, sans-serif;
$header_l: 'HyundaiSansHeadLight', Arial, sans-serif;
//$base_font:  'HyundaiSansText', Arial, sans-serif;


// Font Size 
$base-font: 16px;//guide: 30pt
$mid-font-smaller: 18px;//35pt
$mid-font: 21px;//40pt
$big-font:25px;//50pt
$big-font-bigger:33px;//65pt
// ==========================================================
// Font type
// ==========================================================
@include font-face("HyundaiSansHeadRegular", fonts/HyundaiSansHead, normal, normal);
@include font-face("HyundaiSansHeadMedium", fonts/HyundaiSansHeadMedium, normal, normal);
@include font-face("HyundaiSansHeadLight", fonts/HyundaiSansHead-Light, normal, normal);
//@include font-face("HyundaiSansText", fonts/HyundaiSansText, normal, normal);
//@include font-face("DIGI", fonts/DS-DIGI, normal, normal);
// ==========================================================
// Font 
// ==========================================================

h1, h2, h3, h4{
	font-weight: normal;
	//line-height: 120%;
}

.header{
	h1{
		font-family: $header_m;
		font-size: $mid-font !important;
		span{
			font-family: $header_m;
			font-size: $mid-font !important;
		}
	}
}
h1{
	font-family: $header_m;
	font-size: $big-font-bigger;
	span{
		font-family: $header_m;
		font-size: $big-font-bigger;
	}
	span:nth-child(1){
		color:$main_text_30;
	}
	span:nth-child(2){
		color:$green;
	}
	span:nth-child(3){
		color:$purple;
	}
}
h2,h3{
	font-family: $header_m;
	font-size: $big-font !important;
	color:$main_text_30;
}
p,div,span{
	font-family: $header_r;
	font-size: $base-font;
	color:$main_text_30;
}

// h1 {
// 	font-family: $header_r;
// 	font-size: 3.5em;
//     margin: 0;
//     color: $point_color;
//     line-height: 1;
// }

// h2 {
// 	font-family: $header_m;
// 	font-size: 33px;
// 	margin: 0;
// }

// h3 {
// 	font-family: $header_l;
// 	font-size: 1.2em;
//     margin: 0;
// }
// h4{
// 	font-family: $base_font;
// 	font-size:$mid-font-size;
// }

// p {
// 	font-family: $base-font;
// 	font-size: $base-font-size;
// 	font-weight: normal;
// 	color: $white;
// }

// div {
// 	font-family: $base-font;
// }

// span{
// 	font-family: $base-font;
// 	font-size: $base-font-size;
// 	font-weight: normal;
// 	color: $white;
// }