@font-face {
  font-family: "HyundaiSansHeadRegular";
  text-transform: normal;
  font-weight: normal;
  src: url("../../fonts/HyundaiSansHead.eot") format("eot"), url("../../fonts/HyundaiSansHead.woff2") format("woff2"), url("../../fonts/HyundaiSansHead.woff") format("woff"), url("../../fonts/HyundaiSansHead.ttf") format("truetype"), url("../../fonts/HyundaiSansHead.otf") format("opentype"); }

@font-face {
  font-family: "HyundaiSansHeadMedium";
  text-transform: normal;
  font-weight: normal;
  src: url("../../fonts/HyundaiSansHeadMedium.eot") format("eot"), url("../../fonts/HyundaiSansHeadMedium.woff2") format("woff2"), url("../../fonts/HyundaiSansHeadMedium.woff") format("woff"), url("../../fonts/HyundaiSansHeadMedium.ttf") format("truetype"), url("../../fonts/HyundaiSansHeadMedium.otf") format("opentype"); }

@font-face {
  font-family: "HyundaiSansHeadLight";
  text-transform: normal;
  font-weight: normal;
  src: url("../../fonts/HyundaiSansHead-Light.eot") format("eot"), url("../../fonts/HyundaiSansHead-Light.woff2") format("woff2"), url("../../fonts/HyundaiSansHead-Light.woff") format("woff"), url("../../fonts/HyundaiSansHead-Light.ttf") format("truetype"), url("../../fonts/HyundaiSansHead-Light.otf") format("opentype"); }

h1, h2, h3, h4 {
  font-weight: normal; }

.header h1 {
  font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
  font-size: 21px !important; }
  .header h1 span {
    font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
    font-size: 21px !important; }

h1 {
  font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
  font-size: 33px; }
  h1 span {
    font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
    font-size: 33px; }
  h1 span:nth-child(1) {
    color: #1e1e1e; }
  h1 span:nth-child(2) {
    color: #5cba46; }
  h1 span:nth-child(3) {
    color: #351186; }

h2, h3 {
  font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
  font-size: 25px;
  color: #1e1e1e; }

p, div, span {
  font-family: "HyundaiSansHeadRegular", Arial, sans-serif;
  font-size: 16px;
  color: #1e1e1e; }

.menu_list {
  font-family: "HyundaiSansHeadRegular", Arial, sans-serif;
  font-size: 21px;
  color: #1e1e1e; }

@-webkit-keyframes twinkle {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes twinkle {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

* {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-text-size-adjust: none; }

html, body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  background: url("../images/web_bg.jpg") 50% 0 no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed; }

div, p, span, input {
  color: #000;
  -webkit-text-shadow: none;
  text-shadow: none; }

h1, h2, h3, h4, h5, h6, p, span, div {
  margin: 0;
  padding: 0; }

.ui-btn {
  border: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.word-wrap {
  display: block; }

.go-next {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1%;
  right: 0;
  width: 100%;
  text-align: right;
  z-index: 10; }
  .go-next img {
    position: relative;
    right: 5%;
    width: 15px; }

.twinkle {
  animation: twinkle 2s infinite; }

a {
  color: #323232 !important;
  text-decoration: none;
  display: block;
  -webkit-text-shadow: none;
  text-shadow: none;
  font-weight: normal !important; }

form {
  width: 100%;
  display: block; }

input:-ms-input-placeholder, input:-webkit-input-placeholder, input:-moz-placeholder {
  color: #ffffff; }

img {
  width: 100%; }

.popLayer {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }

.popLayer#scroll {
  background: url(../images/101_overay.png) no-repeat;
  background-size: cover;
  background-position: center; }

.btn_play {
  position: absolute;
  bottom: 14%;
  cursor: pointer; }

video {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.btn_close {
  position: absolute;
  top: 14%;
  right: 4%;
  cursor: pointer; }
  .btn_close img {
    width: 19px; }

.ui-page-theme-a {
  background-color: #ffffff;
  overflow: hidden !important;
  height: 100%; }
  .ui-page-theme-a .ui-header {
    position: fixed;
    background-color: #ffffff;
    border: none;
    width: 100%;
    z-index: 10;
    height: 60px;
    min-height: 60px; }
  .ui-page-theme-a .contentPageHeader {
    position: absolute !important; }
  .ui-page-theme-a .header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000;
    box-sizing: border-box; }
    .ui-page-theme-a .header h1 {
      position: absolute;
      top: 18px;
      left: 4%;
      padding: 0;
      text-align: left;
      margin: 0; }
  .ui-page-theme-a .ui-content {
    padding: 0;
    height: 100%;
    overflow: visible !important; }
    .ui-page-theme-a .ui-content article {
      height: 100%;
      padding-top: 60px;
      box-sizing: border-box; }
  .ui-page-theme-a .ui-btn {
    background: none !important;
    border: none;
    box-shadow: none; }
    .ui-page-theme-a .ui-btn:hover {
      background: none;
      border: none; }
    .ui-page-theme-a .ui-btn:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
  .ui-page-theme-a .ui-btn.ui-btn-right, .ui-page-theme-a .ui-btn.ui-btn-left {
    width: 19px;
    margin-top: 18px;
    padding: 0; }
    .ui-page-theme-a .ui-btn.ui-btn-right:hover, .ui-page-theme-a .ui-btn.ui-btn-left:hover {
      background: none;
      border: none; }
  .ui-page-theme-a .ui-btn.ui-btn-right {
    right: 0;
    padding-right: 4%; }
  .ui-page-theme-a .ui-btn.ui-btn-left {
    left: 0;
    padding-left: 4%; }

.sub_cover .textwrap_top {
  padding: 10% 5%; }
  .sub_cover .textwrap_top p {
    padding-top: 2%;
    font-size: 18px;
    color: #646464; }
    .sub_cover .textwrap_top p span {
      display: block;
      font-size: 18px;
      color: #646464; }

.slidePage h2 {
  height: 35px;
  text-align: center;
  padding: 2%;
  box-sizing: border-box;
  font-size: 21px; }

.slidePage .imgwrap_top {
  position: relative;
  height: 53%;
  overflow: hidden; }
  .slidePage .imgwrap_top .imgTitle {
    height: 35px; }
    .slidePage .imgwrap_top .imgTitle p {
      position: absolute;
      width: 100%;
      text-align: center;
      color: #ffffff;
      line-height: 1.5em;
      padding: 2%;
      box-sizing: border-box; }
  .slidePage .imgwrap_top .slideImg {
    position: absolute;
    height: calc(100% - 35px);
    overflow: hidden;
    align-items: center; }
    .slidePage .imgwrap_top .slideImg img {
      float: left; }
  .slidePage .imgwrap_top .slideImgOver {
    position: absolute;
    height: calc(100% - 35px);
    overflow: hidden;
    z-index: 1;
    align-items: center; }
    .slidePage .imgwrap_top .slideImgOver img {
      float: left; }

.slidePage .textwrap {
  height: calc(47% - 35px); }
  .slidePage .textwrap .slideControler {
    height: 14%;
    position: relative; }
    .slidePage .textwrap .slideControler > img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2%;
      cursor: pointer; }
      .slidePage .textwrap .slideControler > img:nth-child(1) {
        left: 5%; }
      .slidePage .textwrap .slideControler > img:nth-child(2) {
        right: 5%; }
    .slidePage .textwrap .slideControler .indicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .slidePage .textwrap .slideControler .indicator img {
        width: 10px;
        margin: 0 2px; }
  .slidePage .textwrap .textbox {
    position: relative;
    margin: 3% 5%;
    height: 76%; }
    .slidePage .textwrap .textbox p {
      position: absolute;
      top: 0;
      color: #ffffff; }

@media screen and (orientation: portrait) {
  .ui-mobile .ui-page {
    min-height: 568px; } }

@media only screen and (min-width: 768px) {
  .pc .ui-page {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin: 0 !important;
    padding: 0px;
    width: 320px !important;
    min-height: 568px !important;
    height: 568px !important;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #mokup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 366px;
    height: 752px;
    background: url("../images/mokup.png") 0 0 no-repeat;
    background-size: 100%;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

.sidePanel_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; }
  .sidePanel_wrap .sidePanel {
    position: absolute;
    top: 0;
    left: 105%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("../images/003_bg.png");
    background-size: 65% auto;
    background-position: left bottom;
    background-repeat: no-repeat; }
    .sidePanel_wrap .sidePanel .btn_close {
      top: 9%;
      left: 10%; }
    .sidePanel_wrap .sidePanel ul.menu_list {
      margin-top: 30%; }
      .sidePanel_wrap .sidePanel ul.menu_list li {
        margin: 4% 10%; }

#page0 .imgwrap {
  margin-top: 60px;
  height: 45%;
  overflow: hidden; }
  #page0 .imgwrap img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#page0 .textwrap {
  height: 55%;
  box-sizing: border-box;
  padding: 6% 5%;
  background: url("../images/001_bg.png") no-repeat;
  background-size: 100% auto; }
  #page0 .textwrap h2 {
    margin-bottom: 1%; }
  #page0 .textwrap p {
    font-size: 21px; }
  #page0 .textwrap .form {
    margin: 5% 0; }
    #page0 .textwrap .form .selectbox {
      position: relative;
      width: 100%;
      height: 40px;
      background: url("../images/button/001_text_box.png") no-repeat;
      background-size: 100% 40px; }
      #page0 .textwrap .form .selectbox label {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 1.4em;
        box-sizing: border-box;
        margin: 0;
        padding: 0.4em;
        font-family: "HyundaiSansHeadLight", Arial, sans-serif;
        font-size: 18px;
        background: url("../images/button/001_btn_country_dropdown.png") no-repeat;
        background-size: 20px;
        background-position: 95%;
        color: #323232; }
      #page0 .textwrap .form .selectbox select {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block !important;
        opacity: 0; }
      #page0 .textwrap .form .selectbox .ui-selectmenu-button {
        outline: none; }
        #page0 .textwrap .form .selectbox .ui-selectmenu-button .ui-selectmenu-text {
          opacity: 0; }
    #page0 .textwrap .form .inputbox {
      width: 100%;
      height: 40px;
      background: url("../images/button/001_text_box.png") no-repeat;
      background-size: 100% 40px; }
      #page0 .textwrap .form .inputbox .ui-input-text {
        border: none;
        box-shadow: none;
        background: none; }
      #page0 .textwrap .form .inputbox input {
        font-family: "HyundaiSansHeadLight", Arial, sans-serif;
        color: #323232;
        font-size: 18px; }

#page1 .imgwrap {
  margin-top: 60px;
  height: 45%;
  overflow: hidden; }
  #page1 .imgwrap img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#page1 .textwrap {
  height: 55%;
  box-sizing: border-box;
  padding: 6% 5%;
  background: url("../images/001_bg.png") no-repeat;
  background-size: 100% auto; }
  #page1 .textwrap h2 {
    margin-bottom: 1%; }
  #page1 .textwrap p {
    font-size: 21px; }
  #page1 .textwrap .form {
    margin: 5% 0;
    font-size: 18px; }
    #page1 .textwrap .form .inputbox {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      background: url("../images/button/002_frame.png") no-repeat;
      background-size: 100%;
      border-radius: 50%;
      overflow: hidden; }
      #page1 .textwrap .form .inputbox img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 99%;
        border-radius: 75px; }
      #page1 .textwrap .form .inputbox .ui-input-text {
        border: none; }
        #page1 .textwrap .form .inputbox .ui-input-text input#upload {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          cursor: pointer;
          opacity: 0; }

#cover {
  background: url("../images/003_img.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  background-color: #ffffff; }
  #cover .title {
    position: absolute;
    left: 9%;
    top: 14%; }
    #cover .title div {
      color: #323232; }
  #cover #btn_start {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 120px;
    height: 35px;
    display: block;
    font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 20px;
    line-height: 2em; }

#exterior {
  background: url("../images/exterior/101_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }
  #exterior .textwrap_top h2, #exterior .textwrap_top p, #exterior .textwrap_top span {
    color: #fff; }
  #exterior .btn_play {
    line-height: 0;
    border: 2px solid #fff;
    margin: 4%; }
  #exterior .popLayer#exteriorMov {
    background: #000; }
    #exterior .popLayer#exteriorMov .btn_close {
      top: 31%;
      transform: translateY(-50%); }

#frontstyle {
  background: url("../images/exterior/102_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#sidestyle {
  background: url("../images/exterior/109_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#rearstyle {
  background: url("../images/exterior/112_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#interior {
  background: url("../images/interior/201_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  background-color: #000; }
  #interior .textwrap_top h2, #interior .textwrap_top p, #interior .textwrap_top span {
    color: #fff; }

#safety {
  background: url("../images/safety/001_bg.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#airbag {
  background: url("../images/safety/001_airbag_bg.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#performance {
  background: url("../images/performance/401_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#suspension {
  background: url("../images/performance/001_bg.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#smartSense {
  background: url("../images/smartSense/501_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#convenience {
  background: url("../images/convenience/601_image_cover.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }

#sFront h2, #sSide h2, #sRear h2 {
  color: #082e62; }

#sFront .imgwrap_top .imgTitle, #sSide .imgwrap_top .imgTitle, #sRear .imgwrap_top .imgTitle {
  background: url("../images/exterior/103_bg_top.png") no-repeat;
  background-size: 100% auto; }

#sFront .textwrap, #sSide .textwrap, #sRear .textwrap {
  background: url("../images/exterior/103_bg_bottom.png") no-repeat;
  background-size: 100% 100%; }

#sInterior h2 {
  color: #53142c; }

#sInterior .imgwrap_top .imgTitle {
  background: url("../images/interior/203_bg_top.png") no-repeat;
  background-size: 100% auto; }

#sInterior .textwrap {
  background: url("../images/interior/203_bg_bottom.png") no-repeat;
  background-size: 100% 100%; }

#sSmartSense h2 {
  color: #045758; }

#sSmartSense .imgwrap_top .imgTitle {
  background: url("../images/smartSense/503_bg_top.png") no-repeat;
  background-size: 100% auto; }

#sSmartSense .textwrap {
  background: url("../images/smartSense/503_bg_bottom.png") no-repeat;
  background-size: 100% 100%; }

#sConvenience h2 {
  color: #086a2f; }

#sConvenience .imgwrap_top .imgTitle {
  background: url("../images/convenience/603_bg_top.png") no-repeat;
  background-size: 100% auto; }

#sConvenience .textwrap {
  background: url("../images/convenience/603_bg_bottom.png") no-repeat;
  background-size: 100% 100%; }
  #sConvenience .textwrap .table#trunkSpace {
    position: absolute;
    bottom: 0; }

#safetyDetail {
  background: url("../images/safety/002_bg.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom; }
  #safetyDetail .textwrap {
    position: relative;
    top: 59%;
    padding: 5%;
    text-align: center; }
    #safetyDetail .textwrap p {
      font-size: 18px;
      color: #646464; }
  #safetyDetail .btn_more {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px); }
    #safetyDetail .btn_more img {
      position: absolute;
      width: 11%;
      cursor: pointer; }
    #safetyDetail .btn_more img#rigidity {
      top: 22%;
      left: 17%; }
    #safetyDetail .btn_more img#adhesive {
      top: 16%;
      right: 25%; }
    #safetyDetail .btn_more img#structure {
      top: 33%;
      right: 5%; }
    #safetyDetail .btn_more img#collision {
      top: 48%;
      left: 5%; }
  #safetyDetail .popLayer {
    background-color: #191919; }
    #safetyDetail .popLayer .textwrap_top {
      position: relative;
      top: 60px;
      padding: 10% 5%; }
      #safetyDetail .popLayer .textwrap_top h3 {
        font-size: 18px;
        color: #ffffff; }
      #safetyDetail .popLayer .textwrap_top p {
        color: #969696;
        margin: 5% 0; }
    #safetyDetail .popLayer .imgwrap {
      position: relative;
      background-color: #252525;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin: 9% 5%;
      padding: 3%;
      border-radius: 5px; }
      #safetyDetail .popLayer .imgwrap .textbox p {
        color: #ffffff;
        font-size: 13.5px; }
      #safetyDetail .popLayer .imgwrap .textStyle {
        padding: 3%; }
        #safetyDetail .popLayer .imgwrap .textStyle p {
          font-size: 13px;
          margin-bottom: 3%; }
          #safetyDetail .popLayer .imgwrap .textStyle p span {
            display: block;
            font-size: 13px;
            font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
            color: #ffffff; }
      #safetyDetail .popLayer .imgwrap .imgStyle {
        margin-top: 4%; }
      #safetyDetail .popLayer .imgwrap .imgSize {
        width: 90%;
        margin: 0 auto; }
      #safetyDetail .popLayer .imgwrap .imgText {
        width: 200px;
        position: relative; }
        #safetyDetail .popLayer .imgwrap .imgText p {
          font-size: 13px;
          color: #4a9ff2; }
          #safetyDetail .popLayer .imgwrap .imgText p span {
            font-size: 25px;
            color: #4a9ff2;
            display: block; }
    #safetyDetail .popLayer .imgwrap2 {
      padding: 0;
      line-height: 0; }

#fuelDetail {
  background: url("../images/performance/402_bg.png") no-repeat;
  background-size: 100% auto; }
  #fuelDetail .title {
    padding: 10% 5% 5% 5%; }
    #fuelDetail .title p:nth-child(1) {
      font-family: "HyundaiSansHeadRegular", Arial, sans-serif;
      font-size: 21px;
      color: #323232; }
    #fuelDetail .title p:nth-child(2) {
      font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
      font-size: 60px;
      color: #1e1e1e; }
      #fuelDetail .title p:nth-child(2) span {
        font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
        font-size: 45px;
        color: #1e1e1e; }
    #fuelDetail .title p:nth-child(3) {
      font-family: "HyundaiSansHeadRegular", Arial, sans-serif;
      font-size: 11px;
      color: #323232;
      margin-top: -3%; }
  #fuelDetail .imgwrap {
    margin: 0 3%; }
  #fuelDetail .textwrap {
    padding: 5%; }
    #fuelDetail .textwrap p {
      font-size: 11px;
      color: #323232; }

#transmissionDetail {
  background-color: #000; }
  #transmissionDetail .imgwrap {
    margin: 4% auto;
    padding: 0 8%; }
    #transmissionDetail .imgwrap p {
      text-align: center;
      color: #ffffff; }

#suspensionDetail > .imgwrap {
  width: 68%;
  margin: 6% auto;
  line-height: 0;
  cursor: pointer; }

#suspensionDetail .popLayer {
  background-color: #191919; }
  #suspensionDetail .popLayer .imgwrap {
    position: relative;
    top: 60px; }
    #suspensionDetail .popLayer .imgwrap p {
      position: absolute;
      bottom: 10%;
      width: 100%;
      color: #ffffff;
      font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
      font-size: 18px;
      text-align: center; }
      #suspensionDetail .popLayer .imgwrap p span {
        display: block;
        font-size: 18px;
        color: #ffffff; }
  #suspensionDetail .popLayer .btn_arrow {
    width: 19px;
    margin: 1% auto; }
  #suspensionDetail .popLayer .textwrap {
    position: relative;
    top: 11%; }
    #suspensionDetail .popLayer .textwrap .textbox {
      margin: 0 5%;
      padding: 3%;
      border: 1px solid #555555;
      border-radius: 5px;
      background-color: #252525; }
      #suspensionDetail .popLayer .textwrap .textbox p {
        color: #969696;
        font-size: 13px; }

#pageMap .wrap {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background-image: url("../images/map/001_bg.png");
  background-size: auto 100%;
  background-position: center 30px; }
  #pageMap .wrap h3 {
    text-align: center;
    font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    color: #ffffff; }
  #pageMap .wrap .top_box {
    margin: auto;
    height: 9%;
    padding: 4% 10% 0; }
    #pageMap .wrap .top_box div {
      width: 50%;
      float: left; }
  #pageMap .wrap .main_box {
    width: 80%;
    margin: 0 auto; }
    #pageMap .wrap .main_box .words_wrap {
      width: 48%;
      float: left;
      margin-bottom: 2%;
      position: relative; }
      #pageMap .wrap .main_box .words_wrap:nth-child(odd) {
        margin-right: 4%; }
      #pageMap .wrap .main_box .words_wrap .word {
        width: 47.6%;
        float: left;
        margin: 0 1.2%; }
        #pageMap .wrap .main_box .words_wrap .word:hover {
          cursor: pointer; }
      #pageMap .wrap .main_box .words_wrap .word_front {
        background-color: #ffffff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #351186;
        border-radius: 5px;
        white-space: nowrap;
        font-family: "HyundaiSansHeadMedium", Arial, sans-serif;
        font-size: 13px;
        padding: 5px 8px; }
  #pageMap .wrap .map_pop {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/map/002_bg.png");
    background-size: 100% auto; }
    #pageMap .wrap .map_pop .close {
      width: 100%;
      height: 50px; }
      #pageMap .wrap .map_pop .close:hover {
        cursor: pointer; }
      #pageMap .wrap .map_pop .close img {
        width: 20px;
        float: right;
        margin: 15px; }
    #pageMap .wrap .map_pop .pop_title_wrap {
      width: 80%;
      margin: 0 auto; }
      #pageMap .wrap .map_pop .pop_title_wrap .pop_title {
        color: #ffffff; }
        #pageMap .wrap .map_pop .pop_title_wrap .pop_title span {
          color: #ffffff;
          font-size: 21px;
          font-weight: bold; }
    #pageMap .wrap .map_pop .pop_btn_wrap {
      width: 80%;
      margin: 0 auto;
      margin-top: 20px; }
      #pageMap .wrap .map_pop .pop_btn_wrap .pop_btn {
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px; }
        #pageMap .wrap .map_pop .pop_btn_wrap .pop_btn:hover {
          cursor: pointer; }
    #pageMap .wrap .map_pop .pop_btn_wrap2 .pop_btn {
      width: 48%;
      float: left; }
      #pageMap .wrap .map_pop .pop_btn_wrap2 .pop_btn:nth-child(odd) {
        margin-right: 2%; }
