.content{
	.textbox{
		position: absolute;
	    top: 17%;
	    border: 1px solid #fff;
	    border-radius: 7px;
	    box-shadow: 0 0 1px 0px;
	    padding: 4%;
	    width: 84%;
	    left: 50%;
	    transform: translateX(-50%);
	    .profilewrap{
	    	margin-bottom: 5%;
	    	.profileImg{
	    		border-radius: 25px;
			    width: 50px;
			    height: 50px;
			    border: 1px solid;
			    background-image: url(../images/common/profile_defalt.png);
			    background-size: cover;
			    background-position: center;
			    margin-right: 4%;
			    display: inline-block;
	    	}
	    	p{
	    		display: inline-block;
	    		color:$point_color;
	    		position: absolute;
    			top: 12%;
    			font-size: $mid-font-smaller;
	    		span{
	    			color:$point_color;
	    			font-size: $mid-font-smaller;
	    		}
	    		.comt{
	    			display: block;
	    			
	    		}
	    	}
	    }
	}
}