////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////


// ==========================================================
// common & element
// ==========================================================
 
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
* {-webkit-text-size-adjust:none}

html, body {
	@include reset-margins; 
	height:100% !important; 
	//min-height:558px;
	//font: sans-serif; 
	//line-height:130%; 
	//background:url('../images/mokup_BG.png') 50% 0 no-repeat;
	background-color: $black; 
	background-size:cover; 
	background-attachment:fixed; 
	overflow: hidden;
}
div, p, span, input {
	color:$black; 
	//line-height:130%; 
	-webkit-text-shadow:none; 
	text-shadow:none;
}
h1,h2,h3,h4,h5,h6,p,span,div{
	@include reset-margins;
}

.ui-btn {
	border: none;
}
ul{
	@include reset-margins;
	li{
		list-style: none;
	}
}
.word-wrap{
	display:block;
}

.go-next{
	@include go-next;
}
// .btn_scroll{
// 	@include btn_scroll;
// }

// .textwrap, .contwrap, .textwrap_top, .textwrap_bottom{
// 	animation :fadeIn 1s;
// }
// ==========================================================
// a, form, input, img, color
// ==========================================================
a {
	//position:absolute;
	//z-index:10;
	color:$sub_text_50 !important; 
	text-decoration:none; 
	display:block; 
	-webkit-text-shadow:none; 
	text-shadow:none;
	font-weight:normal !important;
}
form {
	width:100%;  
	display:block;
}
input:-ms-input-placeholder, input:-webkit-input-placeholder, input:-moz-placeholder {
	color:$white;
} 
textarea:-ms-input-placeholder, textarea:-webkit-input-placeholder, textarea:-moz-placeholder {
}
img {
	width:100%;
}
.pointColor{
	// color:$point_color;
}
// ==========================================================
// Content layout
// ==========================================================
body{
	//position:relative;
	//width:100%;
	//height:120% !important;
}
.ui-page-theme-a {
	background-color: $white;
	overflow:hidden !important;
	height: 100%;
	.ui-header{
		position: fixed;
		background-color: $white;
		border:none;
		width: 100%;
		z-index:1000;
		height: $header_height;
		min-height: $header_height;
	}
	.header {
		//background-color:transparent !important;
		position:absolute; 
		left:50%;
		transform:translateX(-50%);
		width:94%;
		//height: $header_height; 
    	//min-height: $header_height;	
		border-bottom: 1px solid $black;
		box-sizing:border-box;
		h1 {
			margin: 32px 0 0 2%;
			padding:0;
			text-align: left;
		}
	}
	.ui-content {
		//margin-top: $header_height;
		padding:0;
		height: 100%;
		//height: calc(100% - 64px);
		overflow: visible !important;//for onepage scroll
		article{
			//position: relative;
			height: 100%;
			padding-top: $header_height;
		}
	}

	.ui-btn{
		background:none !important;
		border:none;
		box-shadow: none;
		&:hover{
			background:none;
			border:none;
		}
		&:focus{
			outline:none;
			box-shadow:none;
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
		}
	}
	.ui-btn.ui-btn-right, .ui-btn.ui-btn-left{
		width:19px;
		margin-top:32px;
		padding:0;
    	//transform: translate(0,-50%);
		&:hover{
			background:none;
			border:none;
		}
	}
	.ui-btn.ui-btn-right{
		right:0;
		padding-right:4%;
	}
	.ui-btn.ui-btn-left{
		left:0;
		padding-left:4%;
	}
}

//sub-cover
.sub_cover{
	.textwrap_top{
		//margin-top: $header_height;
		padding:10% 5%;
		p{
			padding-top:2%;
			font-size: $mid-font-smaller;
			color:$sub_text_100;
			span{
				display: block;
				font-size: $mid-font-smaller;
				color:$sub_text_100;
			}
		}
	}
}


//slidePage
.slidePage{
	h2{
		//margin-top: $header_height;
		height: 35px;
		text-align: center;
		padding:2%;
		box-sizing: border-box;
		font-size: $mid-font;
		color: $blue;
	}
	.imgwrap_top{
		height:54%;
		.imgTitle{
			height: 35px;
			background: url('../images/exterior/103_bg_top.png') no-repeat;
			background-size: 100% auto; 
			p{
				text-align: center;
				color:$white;
				line-height: 1.5em;
				padding:2%;
				box-sizing: border-box;
			}
		}
		.slideImg{
			position: relative;
			height: calc(100% - 35px);
			img{
				position: absolute;
				top:0;
				height: 100%;
				width: auto;

			}
		}
	}
	.textwrap{
		height: calc(46% - 34px);
		background: url('../images/exterior/103_bg_bottom.png') no-repeat;
		background-size: 100% auto;
		.slideControler{
			height: 14%;
			position: relative;
			>img{
				position: absolute;
				top:50%;
				transform:translateY(-50%);
				width: 2%;
				&:nth-child(1){
					left:5%;
				}
				&:nth-child(2){
					right:5%;
				}
			}
			.indicator{
				position: absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				
				img{
					width: 10px;
					margin:0 2px;
				}
			}
		}
		p{
			color:$white;
			margin:3% 5%;
		}
	}
}



// ==========================================================
// media query
// ==========================================================
@media screen and (orientation: portrait){
	.ui-mobile .ui-page {min-height:568px;}
}
@media only screen and (min-width: 768px){
	.pc .ui-page {
		position:absolute !important; 
		top:50% !important; 
		left:50% !important; 
		margin:0 !important; 
		padding:0px; 
		width: 320px !important; 
		min-height:568px !important; 
		height:568px !important; 
		z-index:1; -webkit-transform:translate(-50%, -50%); 
		transform:translate(-50%, -50%);
		//overflow-y:hidden !important;
	}
	#mokup{
		position:absolute; 
		top:50%; 
		left:50%;
		width: 366px; 
		height:752px; 
		background:url('../images/mokup.png') 0 0 no-repeat; 
		background-size:100%; 
		z-index:0; 
		-webkit-transform:translate(-50%, -50%); 
		transform:translate(-50%, -50%);
	}
}
