.subcover{
	.btn_turbo{
		@include btn_turbo;
		position: relative;
	}
	.btn_more{
		img{
			@include btn_more;
		}
	}
	.img_overlay{
		position: absolute;
		top:$header_height;
		width: 100%;
		height:calc(100% - 51px);
		img{
			position: absolute;
			bottom:0;
		}
	}
	.textwrap{
		position: absolute;
		top:80%;
		left:50%;
		transform:translateX(-50%);
		width: 84%;
		text-align:center;
		//padding:0 9%;
	}
	.popLayer{
		.textwrap{
			top:64%;
			text-align: left;
			h2{
				font-size:$mid-font-smaller;
				color:$white;
				margin-bottom:4%;
				span{
					color:$white;
				}
			}
			p{
				font-family: $header_l;
				color:$white;
				position: absolute;
			}
		}
		.btn_arrow{
			top:2.5%;
			right: 14%;
			img{
				@include btn_arrow;
			}
		}
	}
}
#exFront{
	background:url('../images/exterior/front/bg_01.jpg') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	.btn_more{
		img.cascadingGrille{
			top:53%;
			left: 45%;
		}
		img.chromeMoling{
			top:48%;
			left: 11%;
		}
		img.frontHood{
			top:40%;
			left: 45%;
		}
		img.headLamp{
			top:43%;
			right: 5%;
		}
		img.LEDDRL{
			top:51%;
			right: 5%;
		}
		img.chromeGarnish{
			top:59%;
			right: 26%;
		}
	}
}

#exSide{
	background:url('../images/exterior/side/bg_01.jpg') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	.btn_more{
		img.DLOChromeMolding{
			top:39%;
			right: 10%;
		}
		img.SideSillMolding{
			top:48%;
			right: 20%;
		}		
	}
	.textwrap{
		p{
			color:$white;
		}
		
	}
}

#exRear{
	background:url('../images/exterior/rear/bg_01.jpg') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	.btn_more{
		img.RearCombinationLamp{
			top:45%;
			left: 65%;
		}
		img.RearBumper{
			top:55%;
			left: 11%;
		}
		img.TrunkOpenSwitch{
			top:43%;
			left: 27%;
		}
		img.RearReflector{
			top:55%;
			right: 25%;
		}
	}
}

#interior{
	background:url('../images/interior/bg_01.jpg') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	.btn_more{
		img.SteeringWheel{
			top:43%;
			left: 6%;
		}
		img.CenterFascia{
			top:49%;
			left: 62%;
		}
		img.SupervisionCluster{
			top:35%;
			left: 42%;
		}
	}
	.popLayer{
		.btn_wheel{
			position: relative;
			left: 6%;
			p{
				//@include clearfix;
				float: left;
				width: 43%;
				text-align: center;
				padding:3% 0 2% 0;
				box-sizing:border-box;
				margin-right:3%;
				border-radius: 5px;
				font-size: $base-font-smaller;
				cursor: pointer;
			}
			p:nth-child(1){
				background-color: $white;
			}
			p:nth-child(2){
				color:$black;
				background-color: $text_50;
			}
		}
	}
}

#ADAS{
	background:url("../images/adas/bg_02.jpg") no-repeat;
	background-size:100% auto;
	background-position: bottom;
	.btn_ADAS{
		cursor: pointer;
		img{
			width:26%;
			position: absolute;
		}
		img.LKAS{
			top: 53%;
    		left: 3%;
		}
		img.DBL{
			top: 22%;
    		left: 5%;
		}
		img.DAA{
			top: 18%;
    		left: 37%;
		}
		img.AVM{
			top: 22%;
    		right: 5%;
		}
		img.DRM{
			top: 83%;
    		left: 37%;
		}
	}
}

#convenience{
	background:url("../images/convenience/bg_01.jpg") no-repeat;
	background-size:100% auto;
	background-position: bottom;
	.btn_more{
		img.SmartphoneNeglectAlert{
			top:72%;
			left: 49%;
		}
		img.WirelessCharging{
			top:64%;
			left: 43%;
		}
		img.AirClean{
			top:57%;
			left: 58%;
		}
		img.carplay{
			top:31%;
			left: 44%;
		}
	}
}

