//extrior
#sFront , #sSide, #sRear{
	h2{
		color: $blue;
	}
	.imgwrap_top{
		.imgTitle{
			background: url('../images/exterior/103_bg_top.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.textwrap{
		background: url('../images/exterior/103_bg_bottom.png') no-repeat;
		background-size: 100% 100%;
	}
}

//interior
#sInterior{
	h2{
		color:$wine;
	}
	.imgwrap_top{
		.imgTitle{
			background: url('../images/interior/203_bg_top.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.textwrap{
		background: url('../images/interior/203_bg_bottom.png') no-repeat;
		background-size: 100% 100%;
	}
}

//smartSense
#sSmartSense{
	h2{
		color:$darkTeal;
	}
	.imgwrap_top{
		.imgTitle{
			background: url('../images/smartSense/503_bg_top.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.textwrap{
		background: url('../images/smartSense/503_bg_bottom.png') no-repeat;
		background-size: 100% 100%;
	}
}

//convenience
#sConvenience{
	h2{
		color:$vividGreen;
	}
	.imgwrap_top{
		.imgTitle{
			background: url('../images/convenience/603_bg_top.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.textwrap{
		background: url('../images/convenience/603_bg_bottom.png') no-repeat;
		background-size: 100% 100%;
		.table#trunkSpace{
			position: absolute;
			bottom:0;
		}
	}
}